@model TicariOtomasyon.Models.Classes.Current
@{
    ViewBag.Title = "CurrentFetch";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Current Update Page</h2>
<br />
@using (Html.BeginForm("CurrentUpdate", "Current", FormMethod.Post))
            {
<div class="form-group">

    <!--ValidationControl example-->
    @Html.HiddenFor(x => x.CurrentId)
    @Html.LabelFor(x => x.CurrentName)
    @Html.TextBoxFor(x => x.CurrentName, new { @class = "form-control" })
   @Html.ValidationMessageFor(x => x.CurrentName, "", new { @style = "color:red" })<br />

    @Html.LabelFor(x => x.CurrentSurName)
    @Html.TextBoxFor(x => x.CurrentSurName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CurrentSurName, "", new { @style = "color:red" })<br />

    @Html.LabelFor(x => x.CurrentCity)
    @Html.TextBoxFor(x => x.CurrentCity, new { @class = "form-control" })
   @Html.ValidationMessageFor(x => x.CurrentCity, "", new { @style = "color:red" })<br />

    @Html.LabelFor(x => x.CurrentMail)
    @Html.TextBoxFor(x => x.CurrentMail, new { @class = "form-control" })
     @Html.ValidationMessageFor(x => x.CurrentMail, "", new { @style = "color:red" })<br />
        <button class="btn btn-primary">UPDATE</button>
    </div>
                }

