@using TicariOtomasyon.Models.Classes
@model List<SalesMove>
@{
    ViewBag.Title = "CustomerSales";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">CURRENT NAME :@ViewBag.current</li>
</ol>
<table class="table table-condensed">
    <tr>
        <th class="text-center">SALES ID</th>
        <th class="text-center">PERSON</th>
        <th class="text-center">PRODUCT</th>
        <th class="text-center">PRİCE</th>
        <th class="text-center">QUANTİTY</th>
        <th class="text-center">TOTAL</th>
        <th class="text-center">DATE</th>
        <th class="text-center">PRİNT</th>
    </tr>
    @foreach (var sales in Model)
    {
<tr>
    <td class="text-center">@sales.SalesMoveId</td>
    <td class="text-center">@sales.Persons.PersonName @sales.Persons.PersonSurName</td>
    <td class="text-center">@sales.Products.ProductName</td>
    <td class="text-center">@sales.Price</td>
    <td class="text-center">@sales.Quantity</td>
    <td class="text-center">@sales.Total</td>
    <td class="text-center">@sales.Date</td>
    <td class="text-center"><a href="#" class="glyphicon glyphicon-print btn btn-lg btn-primary"></a></td>
</tr>
    }

</table>

