@using TicariOtomasyon.Models.Classes
@model List<Current>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Index</h2>
<table class="table table-bordered table-hover">

    <tr>
        <td>CURRENT ID</td>
        <td>CURRENT NAME</td>
        <td>CURRENT SURNAME</td>
        <td>CURRENT CİTY</td>
        <td>CURRENT E-MAİL</td>
        <td>DELETE</td>
        <td>UPDATE</td>
        <td>DETAİL</td>
    </tr>
    @foreach (var current in Model)
    {

        <tr>
            <td>@current.CurrentId</td>
            <td>@current.CurrentName</td>
            <td>@current.CurrentSurName</td>
            <td>@current.CurrentCity</td>
            <td>@current.CurrentMail</td>
            <td><a href="/Current/CurrentDelete/@current.CurrentId" class="btn btn-danger">DELETE</a></td>
            <td><a href="/Current/CurrentFetch/@current.CurrentId" class="btn btn-success">UPDATE</a></td>
            <td><a href="/Current/CustomerSales/@current.CurrentId" class="btn btn-warning">SALES DETAİL</a></td>

        </tr>
    }
</table>
<a href="/Current/CurrentAdd" class="btn btn-primary">NEW  CURRENT ADD</a>

