@using TicariOtomasyon.Models.Classes
@model List<Current>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>CURRENT PAGE</h2>
<hr />
<table class="table table-bordered table-hover" style="margin-top:20px" id="table">
    <thead>

    <tr>
        <td class="text-center">CURRENT ID</td>
        <td class="text-center">CURRENT NAME</td>
        <td class="text-center">CURRENT SURNAME</td>
        <td class="text-center">CURRENT CİTY</td>
        <td class="text-center">CURRENT E-MAİL</td>
        <td class="text-center">DELETE</td>
        <td class="text-center">UPDATE</td>
        <td class="text-center">DETAİL</td>
    </tr>
    </thead>
    @foreach (var current in Model)
    {

        <tr>
            <td class="text-center">@current.CurrentId</td>
            <td class="text-center">@current.CurrentName</td>
            <td class="text-center">@current.CurrentSurName</td>
            <td class="text-center">@current.CurrentCity</td>
            <td class="text-center">@current.CurrentMail</td>


            <td class="text-center"><a class='btn btn-danger btn-xs' href="/Current/CurrentDelete/@current.CurrentId"><span class="glyphicon glyphicon-remove"></span> DELETE</a></td>
            <td class="text-center"><a class='btn btn-primary btn-xs' href="/Current/CurrentFetch/@current.CurrentId"><span class="glyphicon glyphicon-edit"></span>UPDATE</a></td>
            <td class="text-center"><a class='btn btn-warning btn-xs' href="/Current/CustomerSales/@current.CurrentId"><span class="glyphicon glyphicon-list-alt"></span> SALES DETAIL</a></td>

        </tr>
    }
</table>

<a class='btn btn-success btn-sm' href="/Current/CurrentAdd"><span class="glyphicon glyphicon-plus"></span>NEW CURRENT ADD</a>


<link href="~/Content/bootstrap.css" rel="stylesheet" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>




<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#table').dataTable({});
</script>

