@model TicariOtomasyon.Models.Classes.SalesMove
@{
    ViewBag.Title = "SalesFetch";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Sales Update Page</h2>

<br />
@using (Html.BeginForm("SalesUpdate", "Sales", FormMethod.Post))
{
    @Html.HiddenFor(x => x.SalesMoveId)

    @Html.LabelFor(x => x.Products)
    @Html.DropDownListFor(x => x.ProductId, (List<SelectListItem>)ViewBag.vl1, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Currents)
    @Html.DropDownListFor(x => x.CurrentId, (List<SelectListItem>)ViewBag.vl2, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Persons)
    @Html.DropDownListFor(x => x.PersonId, (List<SelectListItem>)ViewBag.vl3, new { @class = "form-control" })
    <br />


    @Html.LabelFor(x => x.Quantity)
    @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.Price)
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.Total)
    @Html.TextBoxFor(x => x.Total, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Date)
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">UPDATE</button>
}





