@model TicariOtomasyon.Models.Classes.InvoicePen
@{
    ViewBag.Title = "NewPen";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>New Pen ADD</h2>
<br />

<form class="form-group" method="post">
    @Html.LabelFor(x => x.InvoiceDescription)
    @Html.TextBoxFor(x => x.InvoiceDescription, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.InvoiceQuantity)
    @Html.TextBoxFor(x => x.InvoiceQuantity, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.InvoiceUnitPrice)
    @Html.TextBoxFor(x => x.InvoiceUnitPrice, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.InvoiceAmount)
    @Html.TextBoxFor(x => x.InvoiceAmount, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.InvoiceId)
    @Html.TextBoxFor(x => x.InvoiceId, new { @class = "form-control" })
    <br />
<button class="btn btn-success btn-lg text-center">ADD</button>
</form>


